/* GENERAL */
.white {
  background-color: white;
}

.center {
  text-align: center;
}

body, html{
  background-color: white !important;
}

.dark {
  background-color: #808080;
  color: white !important;
}

/* NEWSLETTER SIGNUP */
.callToAction  a, .tryButton, .orderButton, .detailButton, .productButton {
  background: #82471b;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  color: white;
}

.callToAction  a:hover,  .tryButton:hover, .productButton:hover, .orderButton:hover, .detailButton:hover {
  /* background: #79a119; */
  background: #82471b;
  border: none;
  color: white;
}

h2 {
  word-wrap: break-word;
}


/* Sections */

.text-main-stage {
  text-align: center;
}

.emotional .text {
  color: black !important;
}

.actionShot {
  height: 70%;
  width: 100%;
  background-image: url(/assets/actionShot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 66% 8%;
}

.productShot {
  height: 70%;
  margin-top: 8rem;
  width: 100%;
  background-image: url(/assets/actionShot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 66% 8%;
}

.joseShot {
  height: 70%;
  min-height: 800px;
  margin-top: 8rem;
  width: 100%;
  background-image: url(/assets/joseShot.jpg);
  background-size: cover;
  background-position: bottom !important;
  background-repeat: no-repeat;
  background-position: 66% 8%;
}
.communityShot {
  height: 70%;
  margin-top: 8rem;
  width: 100%;
  background-image: url(/assets/communityShot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 66% 8%;
}

.nakedProducts {
  height: 50%;
  margin-top: 8rem;
  width: 100%;
  /* background-image: url(/assets/nakedProducts.png); */
  background-image: url(/assets/Price_Model.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 66% 39%;
}

/* .pitchShot {
  height: 50%;
  width: 100%;
  background-image: url(/assets/pitchImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 66% 62%;
} */

.spaceContent div:last-child{
  margin-top: 1em;
}

.features {
  background: white;
  text-align: center;
}

.features .featureListItem {
  display: flex;
  text-align: left;
  font-size: 1.3em;
}

.features .featureListItem .iconWrapper{
  width: 45px;
  height: 45px;
  margin-right: 1em;
}
.features .featureListItem .iconWrapper > img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  height: 45px !important;
}

.features .text {
  color: black !important;
}

.showroom .text {
  color: black !important;
}

div.emotional {
  color: black;
  background: white;
  height: auto !important;
}


.mobile-center {
  text-align: center;
  padding: 2em 0;
}

.mobile-center img {
  max-width: 40% !important;
  margin-right: 50%;
  transform: translateX(50%);
}

/* IMPRESSUM */
.footer {
  background-color: white;
  text-align: center;
  padding: 1em;
}
.footer > span {
  color: black;
  font-size: 0.8em;
}

.text-main-stage {
  margin-top: 2em;
  text-align: left;
}

.mission {
  text-align: left;
}

.mission span {
  line-height: 1.3em;
  font-size: 1.3em;
}
.mission span:last-child {
  line-height: 1.3em;
  display: block;
  font-weight: 600;
}

@media (min-width:801px)  { 
  .slider-stage {
    text-align: center;
  }
  img.stars {
    max-width: 30% !important;
  }

  .mobile-center {
    text-align: left;
    padding: 0;
  }

  .mission {
    text-align: center;
  }

  .mobile-center img {
    max-width: 200px;
    margin-right: 0;
    transform: translateX(0);
  }

  .text-main-stage {
    text-align: left;
  }
  /* .pitchShot {
    height: 70%;
  } */

  .nakedProducts {
    height: 60%;
    background-image: url(/assets/Price_Model.jpg);
  }
}