body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #E9E7DF; 
}

.section {
  color: #333;
  width: 100%;
  position: absolute;
  top: 20%;
  transform: translateY(-20%);
}

.section-row {
  width: 100%;
  text-align: center;
  position: relative;
}

.section-row.pad-4 {
  padding-top: 4em;
}
.section-row.pad-1 {
  padding-top: 1em;
}

.input-group {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.input-group.hidden {
  opacity: 0;
}

.icon {
  height: 5em;
  width: 5em;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  color: #000000;
}

h1.header {
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.4em;
}

.header span {
  max-width: 850px;
  line-height: 1em;
  display: inline-block;
  font-family: sans-serif;
}

.small-header {
  font-size: 1em;
  display: block;
  margin-top: 80px;
}

.coffeeicon {
  margin-bottom: 40px;
}

/* Tick-Animation */
.circ{
  opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.tick{
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn > svg .path{
  opacity: 1;
  stroke-dashoffset: 0;
}

h3 {
  font-size: 1em;
}

h3 p {
  line-height: 1.5em;
  max-width: 600px;
}


.newsletter-container {
  padding: 20px;
  margin: 20px;
  background: #ececec;
  border: 2px dashed tomato;
  max-width: 500px;
}

@media screen and (min-width: 600px) {
  .newsletter-container {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  h3 p {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.newsletter {
  /*height: 40px;*/
  margin: 0 auto;
  position: relative;
}
.newsletter input {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  height: 40px;
  padding: 10px 0 10px 15px;
  outline: none;
}
.newsletter input:focus {
  border: 1px solid #999;
}
.newsletter input:focus + button {
  background-color: #000;
}
.newsletter button {
  position: absolute;
  z-index: 999;
  right: 0px;
  top: 0px;
  height: 40px;
  border: none;
  background-color: #666;
  color: white;
  padding: 0;
  margin: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .newsletter button {
    position: relative;
    width: 100%;
    margin-top: 15px;
    border-radius: 4px;
  }
}